/*
Design for Vocabulary selection boxes
*/

.bb_select {
    width: 20em;
    height: 2em;
}

/*inner divs for design purposes*/
.bb_select_inner {
    width: 20em;
    height: 1.4em;
}

.bb_select_inner:hover {
    width: 20em;
    height: 15.4em;
}

/*container that holds the vocab list that is shown on mouseover*/
.bb_select_elements {
    position: fixed;
    width: inherit;
    max-height: 12em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #bbb;
}

/*the single items/vocabs in the list*/
.bb_select_elements div, .bb_select_nodropdown_elements div {
    padding: .2em;
    min-height: 2em;
    border: 1px solid #ddd;
    border-top: 0px;
    background-color: white;
    font-size: smaller;
    overflow: hidden;
}

.bb_select_elements div:hover, .bb_select_nodropdown_elements div:hover{
    padding: .2em;
    min-height: 2em;
    background-color: #eee;
    cursor: pointer;
}

.bb_select_nodropdown i.fa-times{
    cursor: pointer;
}

/*The top part taht shows the selected vocab*/
.bb_select_selection {
    background-color: #9b9;/#d0d0d0;*/
    padding: .2em;
    min-height: 2.8em;
    overflow: hidden;
    font-size: smaller;
    border: 2px solid #5a5;/*#bbb;*/
    color: #111;
}

/*The item in the list that is the chosen vocab*/
.bb_select_clicked {
    background-color: #dfdfdf !important;
}

/*looks like dropdown, but with no function*/
.bb_select_nodropdown {
    position: relative;
    width: 24em;
    background-color: #d0d0d0;
    padding: .2em;
    min-height: 2.8em;
    overflow: hidden;
    font-size: smaller;
    border: 2px solid #bbb;
    color: #111;
    margin-bottom: 0.5em;
}

/*the single items/vocabs in the list*/
.bb_select_nodropdown_elements {
    /*position: relative;*/
    width: 20em;
    max-height: 12em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #bbb;
}

/* 2 */

.bb_container {
    min-width: 200px;
    max-width: 250px;
    position: relative;
}
.bb_select_choices {
    border: 1px solid #eee;
    background-color: #9b9;
    -webkit-box-shadow: inset 0px 0px 32px 3px rgba(0, 177, 106, 1);
    -moz-box-shadow: inset 0px 0px 32px 3px rgba(0, 177, 106, 1);
    box-shadow: inset 0px 0px 5px 1px rgba(0, 177, 106, 1);
    /*width: 200px;*/
    margin-bottom: 6px;
    min-height: 1em;
}
.bb_inner1 {
    width: 100%;
    overflow: hidden;
    height: 1.5em;
}
.bb_inner2 {
    border: 1px solid green;
    overflow: hidden;
    height: 1.4em;
    position: fixed;
    background-color: white;
}
.bb_select_text_input {
    border: 1px solid #888;
    background-color: #ddd;
    margin-bottom: 6px;
}
div[id^="choice_info_"] {
}
div.item {
    border: 1px solid #aaa;
    background-color: #ddd;
    border-radius: 2px;
    margin: 1px;
    font-family: Verdana, sans-serif;
    font-size: 9pt;
}
div.item:hover {
    background-color: #bbb;
}
.active {
    background-color: red;
}
.bb_select_choices div.item {
    background-color: #9b9;
    border: 1px solid #00B16A;
}
.hide {
    display: none;
}

.fa-caret-square-o-down, .fa-times{
    cursor: pointer;    
}

.fa-search{
    margin: 0px 5px
}

