.bb_select {
    width: 20em;
    height: 4.5em;
}
.bb_select_inner {
    width: 20em;
    height: 3.4em;
}
.bb_select_inner:hover {
    width: 20em;
    height: 15.4em;
}
.bb_select_elements {
    position: relative;
    width: 100%;
    max-height: 12em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #bbb;
}
.bb_select_elements div {
    padding: .2em;
    min-height: 3em;
    border: 1px solid #ddd;
    border-top: 0px;
    background-color: white;
    font-size: smaller;
    overflow: hidden;
}
.bb_select_elements div:hover {
    padding: .2em;
    min-height: 3em;
    background-color: #eee;
    cursor: pointer;
}
.bb_select_selection {
    background-color: #d0d0d0;
    padding: .2em;
    min-height: 4em;
    overflow: hidden;
    font-size: smaller;
    border: 2px solid #bbb;
    color: #111;
}
.bb_select_clicked {
    background-color: #dfdfdf !important;
}