@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700);

div{
/*	border: solid 1px #555; */
}

/* https://css-tricks.com/dont-overthink-it-grids/ */
/* GRID */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}

.col-1-10 {
  width: 10%;
}
.col-2-10 {
  width: 20%;
}
.col-3-10 {
  width: 30%;
}
.col-4-10 {
  width: 40%;
}
.col-5-10 {
  width: 50%;
}
.col-6-10 {
  width: 60%;
}
.col-7-10 {
  width: 70%;
}
.col-8-10 {
  width: 80%;
}
.col-9-10 {
  width: 90%;
}
.col-10-10 {
  width: 100%;
}

.col-badge{
	max-width: 2em;
	font-size:200%;
	padding: 0;
	height: 100%;
}

.vertical-text {
	transform: rotate(-90deg);
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* END GRID */

body{
	font: 14px/1.8 "Open Sans",Helvetica,Arial,sans-serif;
	color: #666;
	background: #eee;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: 300;
	vertical-align: baseline;
	font-family: 'Open Sans';

}


header{
	border-bottom: 1px solid #aaa;
	margin-bottom: 5px;
}

.red {
	color: #FC5006;
}

.green {
	color: #00B16A;
}

.inner-shadow {
	-moz-box-shadow:    inset 0 0 7px #00B16A;
	-webkit-box-shadow: inset 0 0 7px #00B16A;
	box-shadow:         inset 0 0 5px #00B16A;

}

.outer-shadow {
	-moz-box-shadow:    3px 3px 5px 6px #eee;
	-webkit-box-shadow: 3px 3px 5px 6px #eee;
	box-shadow:         1px 1px 1px 1px #eee;
}


h1, h2, h3, h4 {
	color: #FC5006;
	font-style: normal;
	font-weight: 300;
	padding: .3em;
	margin: 0;
}

h2{
	font-size: 26px;
}

.navigation_button {
	margin-top: 1em;
}

.content {
	background-color: white;
	margin-bottom: 1em;
	border-top: 4px #00B16A solid;
	padding: .8em;
}

.left-side-box {
	border-right: 1px #00B16A dashed;
	padding-right: 2em;
}

.right-side-box {
	padding-left: 2em;
}

#id_escape, #id_delimiter, #id_quotechar, #id_line_end {
	width: 2em;
	font-family: Arial,sans-serif;
	color: #000000;
	font-size: 12px;
	border: 1px solid #EED5FF;
	background-color: #FFF0FF;
	height: 22px;
	padding: .1em;
	text-align: center; 
	margin: 0em 1.5em;	
} 

input[type="submit"] {
	background-color: #00B16A;
	padding: 8px 20px 8px 20px;
	text-decoration: none;
	border-style: none;
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #26c281;
}

input[type="submit"]:disabled {
	background-color: #ddd;
	color: #bbb;
}

input[type="submit"]:hover:disabled{
	background-color: #ddd;
	color: #bbb;
}

input[type="button"], .uribuilder {
	background: rgb(82, 179, 217);
	padding: 2px 8px;
	text-decoration: none;
	border-style: none;
	color: white;
	width: 8em;
	cursor: pointer;
}

input[type="button"]:hover{
	background-color: cadetblue ;
}


.csv_proposal {
	color: #555;
	font-size: 80%;
}
.csv_proposal:before {
	content: "( ";
}
.csv_proposal:after {
	content: " )";
}

table.table_view {
	min-width: 50%; 
	border-collapse: collapse;
	margin: 1em;
}

table.table_view tr:nth-child(2n-1){
	background-color: #eee;
}

table.table_view tr:nth-child(1){
	background-color: #ddd;
	color: black;
}

table.table_view td{
	padding: .6em;
	vertical-align: top;
	border-width: 0px 1px;
	border-color: #eee;
	border-style: solid;
	white-space: nowrap;
}

/* scrollable table */
.scrollit {
	overflow-x:scroll;
	width:100%;
}

.data_source_select {
	width: 10em;
}

input.datachoice {
	margin-left: 9em;
	width: 10em;
	height: 2em;
}

/* 'window' indicating sth is processing */
#processing {
	visibility: hidden;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 40%;
	background-color: black;
	filter: alpha(opacity=60);
	opacity: 0.6;
	/*border: 12px red solid;*/
	top: 3em;
	left: 0px;
	font-size: 300%;
	color: white;
	padding: 2.5em;
}

/* BEGIN http://www.quirksmode.org/dom/inputfile.html 
div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#id_file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	cursor: text;
	width: 8em;

}

 /*END http://www.quirksmode.org/dom/inputfile.html */
