<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	{% load staticfiles %}
	<!--link rel="stylesheet" href="{% static "css/style.css" %}"-->
	<link rel="stylesheet" href="{% static 'css/transformation.css' %}">
	<link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bb_select.css' %}">
    <title>Transformation | LinDA</title>
</head>
<body>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wz_tooltip.js' %}"></script>
{% block content %}
{% endblock %}
</body>
</html>
