{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<input type="hidden" name="hidden_csv_raw_field" id ="id_hidden_csv_raw_field" value="{{ csvRaw }}">

<div class="grid content">
	<div class="col-5-10 left-side-box">
		<h3>CSV Upload</h3>
		<p>Please select a CSV file. We will try and guess the CSV parameters for you.</p>
		<p>After loading, if the file below looks peculiar, please try other parameters on the right and try again.</p>

	</div>

	<div class="col-5-10 right-side-box">


		<p>
			<!--	
			 http://www.quirksmode.org/dom/inputfile.html
				<div class="fileinputs">
					{{ form.file }}
					<div class="fakefile">
						<input type="button" value="select CSV file">
			
					</div>
				</div>-->
			Select a file: <br>{{ form.upload_file }}
		</p>
		<p class="red">
			{{ form.upload_file.errors.as_text }}
		</p>
		<hr>

		  <table>
			  <tr>
				  <td>
					  <label for="{{ form.line_end.id_for_label }}">Line End</label>
				  </td>
				  <td>
					  {{ form.line_end }}
				  </td>
				  <td>
					  {% if csvDialect.line_end %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.line_end }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  <label for="{{ form.quotechar.id_for_label }}">Quote Char</label>
				  </td>
				  <td>
					  {{ form.quotechar }}
				  </td>
				  <td>
					  {% if csvDialect.quotechar %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.quotechar }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  <label for="{{ form.delimiter.id_for_label }}">Delimiter</label>
				  </td>
				  <td>
					  {{ form.delimiter }}
				  </td>
				  <td>
					  {% if csvDialect.delimiter %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.delimiter }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  <label for="{{ form.escape.id_for_label }}">Escape</label>
				  </td>
				  <td>
					  {{ form.escape }}
				  </td>
				  <td>
					  {% if csvDialect.escape %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.escape }}</span>
					  {% endif %}
				  </td>
			  </tr>
		  </table>
		  <hr>
		  <div class="center">
		  	<input type="submit" value="Upload file" name="button_upload" id="id_button_upload" class="center">
		  </div>

	</div>


	<!--div class="col-5-10 left-side-button">
	</div>
	<div class="col-5-10 right-side-button">
		<input type="submit" value="Upload file" name="button_upload">
	</div-->


</div>


<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows examlpe)
	<table class="table_view">
		{% for line in csvContent %}
		<tr>
			{% for field in line %}
			<td>{{ field }}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
	
</div>

<div class="content">
<h3>RDF VIEW</h3>

</div>

</form>

<script>

var submit_button = document.getElementById('id_button_upload');
var upload_widget = document.getElementById('id_upload_file');
var filename = document.getElementById('id_hidden_filename_field');

function toggle_submit_button(){
	console.log("value " + upload_widget.value)	
	console.log("#"+filename.value+"#")
	if(upload_widget.files.length == 0) { //no file selected

		if(!filename.value) {
			console.log("no filename");
			submit_button.disabled = true;
			submit_button.value = "Upload file";
			//submit_button.value = "Upload file";
		}
		else{
			console.log("dsdd");
			submit_button.disabled = false;
			submit_button.value = "Apply";
		}
	}
	else {
		submit_button.disabled = false;
		submit_button.value = "Upload file";
	}
	
}

toggle_submit_button();


// disable upload button when no file is selected 
upload_widget.addEventListener('change', toggle_submit_button);



</script>


{% endblock %}

{% block scripts %}
{% endblock %}
