	{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_rdf_content_field" id ="id_hidden_rdf_content_field" value="{{ rdfContent }}">

<div class="content grid">
	<div class="col-5-10 left-side-box">
		<h3>Specify the RDF Object</h3>
		<p>...</p>
	</div>

	<div class="col-5-10 right-side-box">
		



	</div>

</div>

<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows example)
	<table class="table_view">
		{% for line in csvContent %}
		<tr>
			{% for field in line %}
				<td>
				{% if forloop.parentloop.first %}
					<span>{{ field }}</span> <a href="" onclick="addToUri(event)" onmouseover="Tip('???')" onmouseout="UnTip()">[+]</a>
				{% else %}
					{{ field }}
				{% endif %}
			
				</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
</div>

<div class="content" id="rdf_view">
	<h3>RDF VIEW</h3>

</div>

</form>

<script>



</script>

{% endblock %}

{% block scripts %}
{% endblock %}
