	{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_rdf_content_field" id ="id_hidden_rdf_content_field" value="{{ rdfContent }}">

<div class="content grid">
	<div class="col-5-10 left-side-box">
		<h3>Specify the RDF Predicate</h3>
		<p>...</p>
	</div>

	<div class="col-5-10 right-side-box">
		



	</div>

</div>

<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows example)
	<table class="table_view">
		{% for line in csvContent|slice:":1" %}
		<tr>
			{% for field in line %}
				<td>				
					<span>{{ field }}</span>			
				</td>
			{% endfor %}
		</tr>
		{% endfor %}


		{% for line in csvContent|slice:":1" %}
		<tr>
			{% for field in line %}
				<td>				
					<span id="search_text_{{ forloop.counter }}" onclick="askOracle(event, {{ forloop.counter }})">searchme</span><br>
					<input type="text" value="{{ field }}" id="search_textinput_{{ forloop.counter }}" onkeyup="delayedOracleCall(event, {{ forloop.counter }})">
					<br>
					<div id="search_result_{{ forloop.counter }}">
					</div>
		
				</td>
			{% endfor %}
		</tr>
		{% endfor %}

		{% for line in csvContent|slice:"1:11" %}
		<tr>
			{% for field in line %}
				<td>				
					<span>{{ field }}</span>			
				</td>
			{% endfor %}
		</tr>
		{% endfor %}
	
	</table>
</div>

<div class="content" id="rdf_view">
	<h3>RDF VIEW</h3>

</div>

</form>

<script>
//supress Enter key for form
function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

var recent_result = null;
var recent_textinput = null;
var recent_text = null;

function askOracle(ev, widget_num){

	recent_result = document.getElementById("search_result_"+widget_num);
	recent_textinput = document.getElementById("search_textinput_"+widget_num);
	recent_text = document.getElementById("search_text_"+widget_num);

	$.ajax({
		type: 'GET',
		dataType: 'jsonp',
		data: { 'q': recent_textinput.value },
		url: "http://linda.epu.ntua.gr:8000/coreapi/recommend/",
		error: function (jqXHR, textStatus, errorThrown) {
			recent_text.innerHTML="error!";
			console.log(error+"\n"+status+"\n"+xhr.responseText);
		},
		success: function (data) {
			recent_result.innerHTML = "";
			if(data.length==0){
				recent_text.innerHTML="no results";
				console.log("no results");
				return;
			}			
			console.log("success");
			console.log(data);
			recent_text.innerHTML = data[0].ranking;
			recent_text.innerHTML = "successful";
			for(var i = 0; i < data.length; i++){
				recent_result.innerHTML += "<div class =\"oracle_result\"><a href=\""+data[i].full_uri+"\" onmouseover=\"Tip('"+data[i].full_uri+"')\" onmouseout=\"UnTip()\">"+data[i].vocabulary+"</a><span><span class=\"oracle_score\">"+data[i].ranking+"</span><br>"+data[i].label+"</span></div>";
			}
		},
		beforeSend: function(){
			recent_text.innerHTML="loading...";
		}

	});
}

//only request ajax if no typing for 1 second

var typingTimer;
var doneTypingInterval = 1000;

function delayedOracleCall(ev, widget_num){
	clearTimeout(typingTimer);
	typingTimer = setTimeout(function(){askOracle(ev, widget_num);}, doneTypingInterval);
}


</script>

{% endblock %}

{% block scripts %}
{% endblock %}
