	{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_rdf_array_field" id ="id_hidden_rdf_array_field" value="{{ rdfArray }}">

<div class="content grid">
	<div class="col-5-10 left-side-box">
		<h3>Specify the RDF Object</h3>
		<p>...</p>
	</div>

	<div class="col-5-10 right-side-box">
		



	</div>

</div>

<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows example)
	<table class="table_view">
		{% for line in csvContent %}
		<tr>
			{% for field in line %}
				<td id="id_table_field_{{ forloop.counter }}_{{ forloop.parentloop.counter }}">
					{{ field }}			
				</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
</div>

<div class="content" id="rdf_view">
	<h3>RDF VIEW</h3>

</div>

</form>

<script>

    function addInnerDiv(elem) {

        var kids = elem.children();

        elem.empty();

        var innerDiv = jQuery('<div/>', {
            class: "bb_select_inner"
        }).appendTo(elem);

        var selectionDiv = jQuery('<div/>', {
            class: "bb_select_selection",
            text: "please chose"
        }).appendTo(innerDiv);

	selectionDiv.css("position","relative");

	//font awesome arrow down
        var caretDown = jQuery('<i/>', {
            class: "fa fa-caret-square-o-down fa-2x"
        }).appendTo(selectionDiv);

        caretDown.css("position","absolute");
        caretDown.css("top",".1em");
        caretDown.css("right",".2em");
        caretDown.css("color","#888");

        elem.on("mouseover", function() {
        	$(this).find("i:last-child").css("opacity","1");
		$(this).find("div div").css("z-index", 999999);
        });

        elem.on("mouseout", function() {
        	$(this).find("i:last-child").css("opacity",".3");
		$(this).find("div div").css("z-index", "auto");
        });

        var elementsDiv = jQuery('<div/>', {
            class: "bb_select_elements"
        }).appendTo(innerDiv);
        
        elementsDiv.append(kids);

        kids.each(function (i) {
            $(this).on("click", function () {
                $(this).parent().siblings().first().html($(this).html());
                $(this).addClass("bb_select_clicked");
                $(this).siblings().removeClass("bb_select_clicked");
                caretDown.appendTo(selectionDiv);
                adapt_RDF_preview();
            });
        });

        innerDiv.on("mouseover", function () {
            elementsDiv.css("visibility", "visible");
        });

        innerDiv.on("mouseout", function () {
            elementsDiv.css("visibility", "hidden");
        });

        elementsDiv.trigger("mouseout");
    }


//http://localhost:8000/transformation/lookup/place/Berlin/

var zindex = 0;

// e.g. domain = bird; term = sparrow, tit, ..
function askOracle(widget, domain, term){
//console.log('http://lookup.dbpedia.org/api/search/KeywordSearch?QueryClass=' + domain + '&QueryString=' + term);
	var request = $.ajax({
		type: 'GET',
		dataType: 'json',
		//url: "http://localhost:8000/transformation/lookup/"+domain+"/"+term+"/",
		url: 'http://lookup.dbpedia.org/api/search/KeywordSearch?QueryClass=' + domain + '&QueryString=' + term,
	});

	request.fail(function (xhr, ajaxOptions, thrownError) {
		widget.html(widget.text()+ " (ERROR<br>"+thrownError+")");

	});

	var new_id = "search_result_"+widget.attr("id");
	request.success(function (data) {console.log(data.results[0].description);
		var list = "<div class=\"bb_select\" id=\""+new_id+"\">";
		for(var i=0; i<data.results.length; i++){
			list += "<div>"+data.results[i].uri+"</div>"
			console.log(data.results[i].label);
		}
		list += "</div>";
		widget.html(widget.html()+"<hr>"+list);
		addInnerDiv($("#"+new_id));
		zindex += 4;
		//auto-select first element after oracle call
		$(widget).find("* .bb_select_elements").children().first().trigger("click");

	});

	return request;
}



function adapt_RDF_preview() {
	var rdf_array = eval(rdf_content.value);

	var same_subject = true;
	var subject = "";

	//how many columns
	var num_columns = eval(csv_content.value)[0].length;

/*
	var found_one_undefined = false;
	for(var i=0; i<rdf_array.length/num_columns; i++) {
		for(var j=0; j<num_columns; j++) {
			var href = $("#search_result_"+(j+1)+" * .bb_select_selection a").attr("href");

			if(typeof href === "undefined") {
				href=" ? ";
				found_one_undefined = true;
			}
			rdf_array[i*num_columns+j][1]="<"+href+">";

		}
	}	

	//enables or disabled next button depending on rdf graph completeness
	if(!found_one_undefined) {
		$("#button_next").removeAttr("disabled");
	}
	else {
		$("#button_next").attr("disabled", "disabled");
	}
*/
	var tbl = rdf_array_to_table(rdf_array);
	//store in form and make available in backend
	rdf_content.value = JSON.stringify(rdf_array);
	//make visible in frontend
	var tbl = rdf_array_to_table(rdf_array);
	while (rdf_view.firstChild) { //remove all children
    		rdf_view.removeChild(rdf_view.firstChild);
	}
	var myH3 = document.createElement("h3");
	myH3.appendChild(document.createTextNode("RDF VIEW"));
	rdf_view.appendChild(myH3);
	rdf_view.appendChild(tbl);

}


function rdf_array_to_table(rdf_array) {
	// create elements <table> and a <tbody>
	var tbl     = document.createElement("table");
	var tblBody = document.createElement("tbody");

	// cells creation
	for(var i=0; i<rdf_array.length; i++){
		// table row creation
		var row = document.createElement("tr");

		for(var j=0; j<rdf_array[i].length; j++){
			// create element <td> and text node 
		        //Make text node the contents of <td> element
		        // put <td> at end of the table row
			var cell = document.createElement("td");    
			var cellText = document.createTextNode(rdf_array[i][j]); 

                	cell.appendChild(cellText);
                	row.appendChild(cell);
		}

		//row added to end of table body
		tblBody.appendChild(row);
	}

        // append the <tbody> inside the <table>
        tbl.appendChild(tblBody);
 
        tbl.setAttribute("class", "rdf_table");
	return tbl;
}

var rdf_content = $("#id_hidden_rdf_array_field");


$( document ).ready(function() {

	rdf_view.innerHTML = "<h3>RDF VIEW +++</h3>";
	rdf_view.appendChild(rdf_array_to_table(eval(rdf_content.val())));
	
	// do an oracle lookup on page load

	$("td[id^='id_table_field_']").each( function(i){
		var id = $(this).attr("id");
		var lastChar = id.substr(id.length - 1);
		if(lastChar!=1){//not first row = table header
			//get first row
			var topic_field = id.slice(0,-1) + "1";
			var topic = $("#"+topic_field).text().trim();
			askOracle($(this), topic, $(this).text().trim());
		}
	});

	//$("#button_next").attr("disabled", "disabled");

});

</script>

{% endblock %}

{% block scripts %}
{% endblock %}
