{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}


<!--input type="hidden" id="upload_filename" value="{{ filename }}"-->

<div class="grid content">
	<div class="col-5-10 left-side-box">
		<h3>CSV Upload</h3>
		<p>Please select a CSV file. We will try and guess the CSV parameters for you.</p>
		<p>After loading, if the file below looks peculiar, please try other parameters on the right and try again.</p>

		<p>
			<!--	
			 http://www.quirksmode.org/dom/inputfile.html
				<div class="fileinputs">
					{{ form.file }}
					<div class="fakefile">
						<input type="button" value="select CSV file">
			
					</div>
				</div>-->
			{{ form.upload_file }}
		</p>
		<p class="red">
			{{ form.upload_file.errors.as_text }}
		</p>

		<p>
			<input type="submit" value="Upload file" name="button_upload">
		</p>


	</div>

	<div class="col-5-10 right-side-box">
		  <table>
			  <tr>
				  <td>
					  <label for="{{ form.line_end.id_for_label }}">Line End</label>
				  </td>
				  <td>
					  {{ form.line_end }}
				  </td>
				  <td>
					  {% if csvDialect.line_end %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.line_end }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  <label for="{{ form.quotechar.id_for_label }}">Quote Char</label>
				  </td>
				  <td>
					  {{ form.quotechar }}
				  </td>
				  <td>
					  {% if csvDialect.quotechar %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.quotechar }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  <label for="{{ form.delimiter.id_for_label }}">Delimiter</label>
				  </td>
				  <td>
					  {{ form.delimiter }}
				  </td>
				  <td>
					  {% if csvDialect.delimiter %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.delimiter }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  <label for="{{ form.escape.id_for_label }}">Escape</label>
				  </td>
				  <td>
					  {{ form.escape }}
				  </td>
				  <td>
					  {% if csvDialect.escape %}
					  <span  class="csv_proposal">proposed: {{ csvDialect.escape }}</span>
					  {% endif %}
				  </td>
			  </tr>
		  </table>



	</div>
</div>

<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows examlpe)
	<table class="table_view">
		{% for line in csvContent %}
		<tr>
			{% for field in line %}
			<td>{{ field }}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
	
</div>

<div class="content">
<h3>RDF VIEW</h3>

</div>

</form>
 <button onclick="getFileName()">Los!</button>
<script>
var getFileName = function(){
	var submitted_fileName = document.getElementById('id_hidden_filename_field').value;
	//var fullPath = document.getElementById('id_upload_file').value;
	alert(submitted_fileName);
	if (fullPath) {
		var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
		var filename = fullPath.substring(startIndex);
		if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
			filename = filename.substring(1);
		}
		alert(filename);
	}
}
</script>


{% endblock %}

{% block scripts %}
{% endblock %}
