{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="title">
	<h2>Transformation: CSV to RDF triple</h2>

</div>
<form enctype="multipart/form-data" method="post" action="">
<div class="grid content">
	<div class="col-5-10 left-side-box">
		<p>Please select a CSV file. We will try and guess the CSV parameters for you. After loading, if the file below looks peculiar, please try other parameters on the right and try again.</p>
		<p>
		<!--	
		 http://www.quirksmode.org/dom/inputfile.html
			<div class="fileinputs">
				{{ form.file }}
				<div class="fakefile">
					<input type="button" value="select CSV file">
			
				</div>
			</div>-->
		{{ form.file }}
		</p>

	</div>
	<div class="col-5-10 right-side-box">


	  {% csrf_token %}

		  <table>
			  <tr>
				  <td>
					  Separator
				  </td>
				  <td>
					  {{ form.separator }}
				  </td>
				  <td>
					  {% if separator_proposal %}
					  <span  class="csv_proposal">proposed: {{ separator_proposal }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  Quote Char
				  </td>
				  <td>
					  {{ form.quotechar }}
				  </td>
				  <td>
					  {% if quotechar_proposal %}
					  <span  class="csv_proposal">proposed: {{ quotechar_proposal }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  Delimiter
				  </td>
				  <td>
					  {{ form.delimiter }}
				  </td>
				  <td>
					  {% if delimiter_proposal %}
					  <span  class="csv_proposal">proposed: {{ delimiter_proposal }}</span>
					  {% endif %}
				  </td>
			  </tr>
			  <tr>
				  <td>
					  Escape
				  </td>
				  <td>
					  {{ form.escape }}
				  </td>
				  <td>
					  {% if escape_proposal %}
					  <span  class="csv_proposal">proposed: {{ escape_proposal }}</span>
					  {% endif %}
				  </td>
			  </tr>
		  </table>


		  <p>
		  <input type="submit" value="Upload file" />
		  </p>

	</div>
</div>
</form>
<div class="content">
<h3>DATA VIEW</h3>
	<table class="table_view">
		{% for line in csvContent %}
		<tr>
			{% for field in line %}
			<td>{{ field }}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
	
</div>

<div class="content">
<h3>RDF VIEW</h3>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}
