	{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_csv_raw_field" id ="id_hidden_csv_raw_field" value="{{ csvRaw }}">

<div class="content grid">
	<div class="col-5-10 left-side-box">
		<h3>CSV Row Selection</h3>
		<p>
		Please select the colums you want to transfer from the table view below.
		</p>
	</div>

	<div class="col-5-10 right-side-box">
		<input type="button" id="id_select_all_rows" value="select all">
	</div>

</div>

<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows example)
	<table class="table_view">


		{% for line in csvContent %}
		<tr>
			{% for field in line %}
			<td>
				{% if forloop.parentloop.first%}
					<input type="checkbox" name="rowselect{{ forloop.counter}}" value="{{ field }}" id="id_rowselect{{ forloop.counter}}" checked=false>
				{% endif %}
				{{ field }}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
</div>

<div class="content">
	<h3>RDF VIEW</h3>
{{ id }}
</div>

</form>

<script>
$( document ).ready(function() {
	var select_status = false;
	var rowselect_button = document.getElementById('id_select_all_rows');
	rowselect_button.addEventListener('click', toggle_select_all);
	function toggle_select_all(){
		if(select_status)
			rowselect_button.value="deselect all";
		else
			rowselect_button.value="select all";

		$('[id^=id_rowselect]').prop("checked", select_status);
		select_status = !select_status;
	}
});
</script>

{% endblock %}

{% block scripts %}
{% endblock %}
