{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% load modelview_tags %}

    {% include "transformation/snippets/title_snippet.html" with format='CSV' %}

    <!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}


<input type="hidden" name="hidden_rdf_array_field" id ="id_hidden_rdf_array_field" value="{{ rdfArray }}">
<input type="hidden" name="hidden_rdf_prefix_field" id ="id_hidden_rdf_prefix_field" value="{{ rdfPrefix }}">
<input type="hidden" name="hidden_model" id="id_hidden_model" value="{{ rdfModel }}">

    <div class="content grid">
        <div class="col-5-10 left-side-box">
            <h3>Publish</h3>

            <p>...</p>
        </div>

        <div class="col-5-10 right-side-box">
            <p>Please enter a name for your publication:<br><input type="text" name="name_publish" id="name_publish" value="Title"></p>
            <p><input type="submit" name="button_publish" id="button_publish" value="Publish to triple store"></p>
            <p><input type="submit" name="button_download" id="button_download" value="Download RDF"></p>


        </div>

    </div>

    <!--div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows example)
	<table class="table_view">
		{% for line in csvContent %}
		<tr>
			{% for field in line %}
				<td>
				{% if forloop.parentloop.first %}
					<span>{{ field }}
        </span> <a href="" onclick="addToUri(event)" onmouseover="Tip('???')" onmouseout="UnTip()">[+]</a>
				{% else %}
					{{ field }}
				{% endif %}
			
				</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</table>
</div-->

    <div class="content" id="rdf_view">
        <h3>RDF VIEW</h3>

    </div>

    </form>

<script>
{% if publish_massage %}
    alert("{{ publish_massage }}");
{% endif %}

function adapt_RDF_preview() {

	var rdf_array = eval($("#id_hidden_rdf_array_field").val());

	var same_subject = true;
	var subject = "";

	//how many columns
	var num_columns = eval($("#id_hidden_csv_content_field").val())[0].length;

	//make visible in frontend

	var tbl = rdf_array_to_table(rdf_array, eval($("#id_hidden_rdf_prefix_field").val()));
	while (rdf_view.firstChild) { //remove all children
    		rdf_view.removeChild(rdf_view.firstChild);
	}
	var myH3 = document.createElement("h3");
	myH3.appendChild(document.createTextNode("RDF VIEW"));
	rdf_view.appendChild(myH3);
	rdf_view.appendChild(tbl);
}



var rdf_content = $("#id_hidden_rdf_array_field");


$( document ).ready(function() {

	rdf_view.innerHTML = "<h3>RDF VIEW +++</h3>";
	rdf_view.appendChild(rdf_array_to_table(eval(rdf_content.val())));
	
	// do an oracle lookup on page load

	/*$("div[id^='search_result_']").each( function(i, obj){
		askOracle(i+1);
	});*/

	//$("#button_next").attr("disabled", "disabled");
adapt_RDF_preview();
});

</script>

{% endblock %}

{% block scripts %}
{% endblock %}
