	{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_rdf_array_field" id ="id_hidden_rdf_array_field" value="{{ rdfArray }}">
<input type="hidden" name="hidden_rdf_prefix_field" id ="id_hidden_rdf_prefix_field" value="{{ rdfPrefix }}">

<div class="content grid">
	<div class="col-5-10 left-side-box">
		<h3>Specify the RDF Object</h3>
		<p>In this step, you can either choose a datatype (such as "Text", "Floating Point Number", "Integer", ...) for a table row or try and let us reconsiliate your data against the DBPedia triple store. That is, we will automatically look up an URI in the DBPedia-Project that might represent the data within each of your table rows.</p>
		<p>As always, the results can be seen in the RDF preview at the page bottom.</p>
	</div>

	<div class="col-5-10 right-side-box">
		



	</div>

</div>

<div class="content scrollit">
	<h3>DATA VIEW</h3>
	File: <b>{{ filename }}</b> (10 rows example)
	<table class="table_view">
	<thead>

		{% for line in csvContent|slice:":1" %}
		<tr>
			{% for field in line %}
				<td id="id_table_settings_{{ forloop.counter }}">
					<span>somesetting</span>
				</td>
			{% endfor %}
		</tr>
		{% endfor %}

		{% for line in csvContent|slice:":1" %}
		<tr>
			{% for field in line %}
				<td id="id_table_head_{{ forloop.counter }}">
					<span>{{ field }}</span>
				</td>
			{% endfor %}
		</tr>
		{% endfor %}


	</thead>
	<tbody>
		{% for line in csvContent|slice:"1:" %}
		<tr>
			{% for field in line %}
				<td id="id_table_field_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
					<span>{{ field }}</span>
				</td>
			{% endfor %}
		</tr>
		{% endfor %}	
	</tbody>
	</table>
<div style="clear:both;"></div>
</div>

<div class="content" id="rdf_view">
	<h3>RDF VIEW</h3>

</div>

</form>

<script>

    function addInnerDiv(elem) {

        var kids = elem.children();

        elem.empty();

        var innerDiv = jQuery('<div/>', {
            class: "bb_select_inner"
        }).appendTo(elem);

        var selectionDiv = jQuery('<div/>', {
            class: "bb_select_selection",
            text: "please chose"
        }).appendTo(innerDiv);

	selectionDiv.css("position","relative");

	//font awesome arrow down
        var caretDown = jQuery('<i/>', {
            class: "fa fa-caret-square-o-down fa-2x"
        }).appendTo(selectionDiv);

        caretDown.css("position","absolute");
        caretDown.css("top",".1em");
        caretDown.css("right",".2em");
        caretDown.css("color","#888");

        elem.on("mouseover", function() {
        	$(this).find("i:last-child").css("opacity","1");
		$(this).find("div div").css("z-index", 999999);
        });

        elem.on("mouseout", function() {
        	$(this).find("i:last-child").css("opacity",".3");
		$(this).find("div div").css("z-index", "auto");
        });

        var elementsDiv = jQuery('<div/>', {
            class: "bb_select_elements"
        }).appendTo(innerDiv);
        
        elementsDiv.append(kids);

        kids.each(function (i) {
            $(this).on("click", function () {
                $(this).parent().siblings().first().html($(this).html());
                $(this).addClass("bb_select_clicked");
                $(this).siblings().removeClass("bb_select_clicked");
                caretDown.appendTo(selectionDiv);
                adapt_RDF_preview();
            });
        });

        innerDiv.on("mouseover", function () {
            elementsDiv.css("visibility", "visible");
        });

        innerDiv.on("mouseout", function () {
            elementsDiv.css("visibility", "hidden");
        });

        elementsDiv.trigger("mouseout");
    }


//http://localhost:8000/transformation/lookup/place/Berlin/


// e.g. domain = bird; term = sparrow, tit, ..
function askOracle(widget, domain, term){
	//console.log('http://lookup.dbpedia.org/api/search/KeywordSearch?QueryClass=' + domain + '&QueryString=' + term);
	var request = $.ajax({
		type: 'GET',
		dataType: 'json',
		//url: "http://localhost:8000/transformation/lookup/"+domain+"/"+term+"/",
		url: 'http://lookup.dbpedia.org/api/search/KeywordSearch?QueryClass=' + domain + '&QueryString=' + term,
	});

	request.fail(function (xhr, ajaxOptions, thrownError) {
		widget.html(widget.text()+ " (ERROR<br>"+thrownError+")");

	});

	var new_id = "search_result_"+widget.attr("id");
	request.success(function (data) {

		if(data.results.length===0){
			widget.html(widget.html()+"<br><span class=\"red\" onmouseover=\"Tip('We were unable to find results in DBPedia which match this table cell.')\" onmouseout=\"UnTip()\">No reconciliation results.</span>");
		}else{
			var list = "<div class=\"bb_select\" id=\""+new_id+"\">";
			for(var i=0; i<data.results.length; i++){
				var link = "<a href=\""+data.results[i].uri+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>"
				list += "<div>"+link+data.results[i].uri+"</div>";

			}
			list += "</div>";
			widget.html(widget.html()+"<br>"+list);
			addInnerDiv($("#"+new_id));
			//auto-select first element after oracle call
			$(widget).find("* .bb_select_elements").children().first().trigger("click");
		}

	});

	return request;
}

function shortenURI(uri, maxlength){
	if(uri.length <= maxlength)
		return uri;

	maxlength = maxlength -3; //because we include "..."

	var parts = uri.split("/");
	var head = parts[0];
	var tail = "";
	for(var i = 1; i <= (parts.length/2); i++){
		if((head.length + tail.length+parts[i].length + 1) >= maxlength)
			return head + "..." + tail;
		else 
			head += parts[i] + "/";
		if((head.length + tail.length + parts[parts.length-i] + 1)>=maxlength)
			return head + "..." + tail;
		else
			tail = "/" + parts[parts.length-i] + tail;
	}	
}


function replacePrefix(uri){
	var result = [uri, "none"];
	$.each(prefixes, function(key, value){
		if(uri.indexOf(key) >- 1){
			result[0] = value + ":" + uri.replace(key, "");
			result[1] = value;
			return;
		}
	return;
	});
	return result;
};

used_prefixes = [];

//takes uri and reflaces with prefix or otherwise surrounds with <>
function prefixise(href){
	var prefixed = replacePrefix(href);
	var result = "";
	if(prefixed[1]=="none"){
		result = "<"+href+">";
	}else{
		result = prefixed[0];


		// no duplicates
		var already_in = false;
		for(var k = 0 ; k < used_prefixes.length; k++){
			if(used_prefixes[k][1] == prefixed[1]+":"){
				already_in = true;
				break;
			}
		}

		if(already_in === false){
			used_prefixes.push(["prefix", prefixed[1] + ":", href]);
		}
	}
	return result;
}


function adapt_RDF_preview() {
	var rdf_array = eval($("#id_hidden_rdf_array_field").val());

	if( Object.prototype.toString.call( rdf_array ) !== '[object Array]' ) {
		var tbl = document.createTextNode("No RDF");
	}else{
		$("td[id^='id_table_field']").each(function(i){
			if($(this).find(".bb_select").length>0) { // has reconsiliation result (dropbox)
				rdf_array[i][2] = prefixise($(this).find(".bb_select_selection").text());
			}
		});
		//store in form and make available in backend
		$("#id_hidden_rdf_array_field").val(JSON.stringify(rdf_array));
		$("#id_hidden_rdf_prefix_field").val(JSON.stringify(used_prefixes));
		//make visible in frontend
		var tbl = rdf_array_to_table(rdf_array, eval($("#id_hidden_rdf_prefix_field").val()));
	}
	while (rdf_view.firstChild) { //remove all children
	    	rdf_view.removeChild(rdf_view.firstChild);
	}
	var myH3 = document.createElement("h3");
	myH3.appendChild(document.createTextNode("RDF VIEW"));
	rdf_view.appendChild(myH3);
	rdf_view.appendChild(tbl);
}



var rdf_content = $("#id_hidden_rdf_array_field");


$( document ).ready(function() {

var rdf_prefix = eval($("#id_hidden_rdf_prefix_field").val());
used_prefixes = rdf_prefix;


	//rdf_view.innerHTML = "<h3>RDF VIEW +++</h3>";
	//rdf_view.appendChild(rdf_array_to_table(eval(rdf_content.val())));
	adapt_RDF_preview();
	// do an oracle lookup on page load

	$("td[id^='id_table_field_']").each( function(i){
		var id = $(this).attr("id");
		//get row and column field as included in table td id field
		id_array = id.split("_");
		//var column = id_array[3];
		var row = id_array[4];

		var topic_field = "id_table_head_" + row;
		var topic = $("#"+topic_field).text().trim();
		askOracle($(this), topic, $(this).text().trim());

	});

	//$("#button_next").attr("disabled", "disabled");


});

</script>

{% endblock %}

{% block scripts %}
{% endblock %}
