{% extends "transformation-base.html" %}

{% load modelview_tags %}

{% block content %}
<div class="title">
	<h2>Transformation: Data Source Choice</h2>

</div>

<div class="content no-minimize">	
	<h3>Choose your data</h3>
	<p>This ist the LinDA transformation tool.</p>
	<p>It will help you transform your data into RDF triples.</p>
</div>



	<div class="grid content">
		<div class="col-5-10 left-side-box">
			<h3>LOAD A FILE AND CREATE A NEW TRANSFORMATION PROJECT</h3>
			<p>Please choose a data type which you want to transform to RDF.</p>
			<p>
				<input type="button" value="CSV / Excel" class="datachoice" OnClick="window.location.href = 'csv/step/1';">
			</p>
			<p>
				<input type="button" value="Relational DB" class="datachoice" OnClick="window.location.href = 'rdb/step/1';">
			</p>


		</div>
		<div class="col-5-10 right-side-box">
			<h3>CHOOSE EXISTING TRANSFORMATION PROJECTS</h3>
            {% if user and not user.is_anonymous %}
            	{% if mappings.count > 0 %}
					<p>Alternatively, choose an existing transformation.</p>
	            	<form method="post" action="csv/step/1">
	            	{% csrf_token %}
		            <select size="5" name="mapping_id">
		            {% for mapping in mappings %}
		            <option value="{{ mapping.id }}">{{ mapping.fileName }} ('{{ mapping.csvName | kill_path }}', {{ mapping.date }})</option>
		            {% endfor %}
		            </select><br>
					<input type="submit" name="button_choose" id="id_button_choose" value="Choose">
                {% endif %}
                {% if db_mappings.count > 0 %}
                    <p>Alternatively, choose an existing rdb transformation.</p>
                    <form method="post">
                    {% csrf_token %}
                    <select size="5" name="mapping_id">
                    {% for mapping in db_mappings %}
                        <option value="{{ mapping.id }}">{{ mapping.database }} | {{ mapping.date }} | {{ mapping.name }}</option>
                    {% endfor %}
                    </select><br>
                    <input type="submit" name="button_choose" id="id_button_choose" value="Choose">
                    </form>
                {% else %}
					You have not saved any projects so far.
				{% endif %}
	            </form>
            {% else %}
            	Please log in first.
            {% endif %}
		</div>
	</div>


{% endblock %}

{% block extra_scripts %}
{% endblock %}