{% extends "transformation-base.html" %}

{% block content %}

    {% include "transformation/snippets/title_snippet.html" with format='RDB' %}

    <input type="hidden" name="hidden_model" id="id_hidden_model" value="{{ model }}">
    <input type="hidden" name="hidden_source" id="hidden_source" value="2">
    <input type="hidden" name="hidden_fkeys" id="id_hidden_fkeys" value="{{ fkeys }}">

<div class="minimizable">
    <div class="grid content">
        <h3>Additional tables</h3>
        <div class="col-5-10 left-side-box">

            <p>Optionally you can add additional virtual tables via SQL-SELECT statements.
            </p>

            <p>To proceed press the <em>next step</em> button at the top of the page.</p>
            
            <div class="show-additional-help">show more</div>
            <div class="additional-help">
            <p>
                <em>How it works:</em><br>
                (Examples are taken from the <b>R2RML and Direct Mapping Test Cases </b><a href="http://www.w3.org/TR/2012/NOTE-rdb2rdf-test-cases-20120814/">http://www.w3.org/TR/2012/NOTE-rdb2rdf-test-cases-20120814/</a>)<br>
                You can define your own SQL-SELECT statements to:
                <ul>
                    <li>3NF denormalisation</li>
                    The database-schema might be normalized to avoid inconsitent data caused by database operations like update, delete, etc. and to eleminate data redundancies.<br>
                    Therefore the data might be split to several tables interlinked by foreign keys.<br>
                    <table class="ex-data"> 
                        <caption><b>Student</b></caption> 
                        <tbody>
                            <tr><th>ID (PK)<br><small>INTEGER</small></th>
                                <th>Sport (FK)<br><small>INTEGER</small></th>
                                <th>Name<br><small>VARCHAR(50)</small></th>
                            </tr>
                            <tr>
                                <td><code>10</code></td>
                                <td><code>100</code></td>
                                <td><code>Venus Williams</code></td>
                            </tr>
                            <tr>
                                <td><code>20</code></td>
                                <td><code>NULL</code></td>
                                <td><code>Demi Moore</code></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="ex-data"> 
                        <caption><b>Sport</b></caption> 
                        <tbody>
                            <tr><th>ID (PK)<br><small>INTEGER</small></th><th>Name<br><small>VARCHAR(50)</small></th></tr>
                            <tr><td><code>100</code></td><td><code>Tennis</code></td></tr>
                        </tbody>
                    </table>
                    An naive (direct mapping) transformation would generate additional RDF-subjects and RDF-statements.<br>
                    
                    <pre class="ex-output">
@base &lt;http://example.com/base/&gt; .
&lt;Student/ID=10&gt; &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt; &lt;Student&gt; .
&lt;Student/ID=10&gt; &lt;Student#ID&gt; "10"^^&lt;http://www.w3.org/2001/XMLSchema#integer&gt; .
&lt;Student/ID=10&gt; &lt;Student#Name&gt; "Venus Williams" .
&lt;Student/ID=10&gt; &lt;Student#Sport&gt; "100"^^&lt;http://www.w3.org/2001/XMLSchema#integer&gt; .
&lt;Student/ID=10&gt; &lt;Student#ref-Sport&gt; &lt;Sport/ID=100&gt; .
&lt;Student/ID=20&gt; &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt; &lt;Student&gt; .
&lt;Student/ID=20&gt; &lt;Student#ID&gt; "20"^^&lt;http://www.w3.org/2001/XMLSchema#integer&gt; .
&lt;Student/ID=20&gt; &lt;Student#Name&gt; "Demi Moore" .
&lt;Sport/ID=100&gt; &lt;Sport#ID&gt; "100"^^&lt;http://www.w3.org/2001/XMLSchema#integer&gt; .
&lt;Sport/ID=100&gt; &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt; &lt;Sport&gt; .
&lt;Sport/ID=100&gt; &lt;Sport#Name&gt; "Tennis" .
                    </pre>
                    An SQL-statement can combine multiple tables into a single result table:<br>
                    <pre class="sql">
SELECT Student.ID, Student.name, Sport.Name AS Sport 
FROM Student LEFT JOIN Sport 
ON Student.Sport = Sport.ID;
                     </pre>
                     
                    <table class="ex-data"> 
                        <caption><b>SQL-result</b></caption> 
                        <tbody>
                            <tr><th>ID <br><small>INTEGER</small></th>
                                <th>Name<br><small>VARCHAR(50)</small></th>
                                <th>Sport<br><small>VARCHAR(50)</small></th>
                            </tr>
                            <tr>
                                <td><code>10</code></td>
                                <td><code>Venus Williams</code></td>
                                <td><code>Tennis</code></td>
                            </tr>
                            <tr>
                                <td><code>20</code></td>
                                <td><code>Demi Moore</code></td>
                                <td><code>NULL</code></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    and the RDF statements would be more compact without the unnecessary &lt;Sport/ID=100&gt; RDF-subjects statements.
                    <pre class="ex-output">
@base &lt;http://example.com/base/&gt; .
&lt;Student/ID=10&gt; &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt; &lt;Student&gt; .
&lt;Student/ID=10&gt; &lt;Student#ID&gt; "10"^^&lt;http://www.w3.org/2001/XMLSchema#integer&gt; .
&lt;Student/ID=10&gt; &lt;Student#Name&gt; "Venus Williams" .
&lt;Student/ID=10&gt; &lt;Student#Sport&gt; "Tennis" .
&lt;Student/ID=20&gt; &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt; &lt;Student&gt; .
&lt;Student/ID=20&gt; &lt;Student#ID&gt; "20"^^&lt;http://www.w3.org/2001/XMLSchema#integer&gt; .
&lt;Student/ID=20&gt; &lt;Student#Name&gt; "Demi Moore" .
                    </pre>

                    <li>Handle many-to-many relations</li>
                    
                    <table class="ex-data"> <caption><b>Student</b></caption> <tbody><tr><th>ID (PK)<br><small>INTEGER</small></th>
                    <th>FirstName<br><small>VARCHAR(50)</small></th>
                    <th>LastName<br><small>VARCHAR(50)</small></th>
                    </tr>
                    <tr><td><code>10</code></td><td><code>Venus</code></td><td><code>Williams</code></td></tr>
                    <tr><td><code>11</code></td><td><code>Fernando</code></td><td><code>Alonso</code></td></tr>
                    <tr><td><code>12</code></td><td><code>David</code></td><td><code>Villa</code></td></tr>
                    </tbody>
                    </table>
                    <table class="ex-data"> <caption><b>Student_Sport</b></caption> <tbody><tr><th>ID_Student (PFK)<br><small>INTEGER</small></th>
                    <th>ID_Sport (PFK)<br><small>INTEGER</small></th>
                    </tr>
                    <tr><td><code>10</code></td><td><code>110</code></td></tr>
                    <tr><td><code>11</code></td><td><code>111</code></td></tr>
                    <tr><td><code>11</code></td><td><code>112</code></td></tr>
                    <tr><td><code>12</code></td><td><code>111</code></td></tr>
                    </tbody>
                    </table>
                    <table class="ex-data"> <caption><b>Sport</b></caption> <tbody><tr><th>ID (PK)<br><small>INTEGER</small></th>
                    <th>Description<br><small>VARCHAR(50)</small></th>
                    </tr>
                    <tr><td><code>110</code></td><td><code>Tennis</code></td></tr>
                    <tr><td><code>111</code></td><td><code>Football</code></td></tr>
                    <tr><td><code>112</code></td><td><code>Formula1</code></td></tr>
                    </tbody></table>

                    An SQL-statement can combine multiple tables into a single result table:<br>
                    <pre class="sql">SELECT Student.ID, Student.FirstName, Student.Lastname, Sport.Description FROM Student
LEFT JOIN Student_Sport ON
Student.ID = Student_Sport.ID_Student
LEFT JOIN Sport ON 
Student_Sport.ID_Sport = Sport.ID;
                     </pre>
                    <table class="ex-data"> <caption><b>SQL-result</b></caption> <tbody><tr><th>ID (PK)<br><small>INTEGER</small></th>
                    <th>FirstName<br><small>VARCHAR(50)</small></th>
                    <th>LastName<br><small>VARCHAR(50)</small></th>
                    <th>Description<br><small>VARCHAR(50)</small></th>
                    </tr>
                    <tr><td><code>10</code></td><td><code>Venus</code></td><td><code>Williams</code></td><td><code>Tennis</code></td></tr>
                    <tr><td><code>11</code></td><td><code>Fernando</code></td><td><code>Alonso</code></td><td><code>Football</code></td></tr>
                    <tr><td><code>11</code></td><td><code>Fernando</code></td><td><code>Alonso</code></td><td><code>Formula1</code></td></tr>
                    <tr><td><code>12</code></td><td><code>David</code></td><td><code>Villa</code></td><td><code>Football</code></td></tr>
                    </tbody>
                    </table>

                     <li>define SQl Views</li>
                     You can define your own "SQl Views" prior the RDF-transformation to represent the data according to your needs.
                </ul>
            </div>

        </div>

        <div class="col-5-10 right-side-box">
            <p class="red">
                {{ form.DatabaseSQLForm.errors.as_text }}
            </p>
            <hr>

            <table>
                <tr>
                    <td>
                        <label for="{{ form.sql_name.id_for_label }}">query name</label>
                    </td>
                    <td>
                        {{ form.sql_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.sql_query.id_for_label }}">sql query</label>
                    </td>
                    <td>
                        {{ form.sql_query }}
                    </td>
                </tr>
            </table>
            <hr>
            <div class="center">
                <button type="submit" value="query DB" name="button_query" id="id_button_query" class="center">Query</button>
            </div>

            <div id="results">
            </div>
        </div>
    </div>
</div>

{% if model %}
    <div class="content scrollit">
        <h3>DATA VIEW</h3>
        <div id="data_tables" >
        
        <h4>Database: <b>{{ model.database }}</b></h4>
        
        {% for table in model.tables %}
            {% if table.sql_query and table.sql_query != "" %}
                <div id="sql_table___{{ table.name }}___"><span><b>table {{ table.name }} </b><a> delete me <a/></span>
                    <table class="table_view">
                    <thead>
                        <tr>
                            {% for column in table.columns %}
                                <td>
                                    {% if column.isPrimaryKey  == 'PRI' %}
                                       <b>{{ column.name }}</b> (Primary Key)<br>
                                    {% else %}
                                        <b>{{ column.name }}</b><br>                                
                                    {% endif %}
                                    {{ column.type }}<br>
                                    {% if not column.hasNullValues %}
                                        NOT NULL<br>
                                    {% else %}
                                        <br>                                
                                    {% endif %}                                
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in table.values_10 %}
                        {% if not forloop.first %}
                            <tr>
                                {% for value in row %}
                                    {% if value != None %}
                                        <td>{{ value }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <div id="{{ table.name }}">table <b>{{ table.name }}</b>&nbsp; referenced by: &nbsp;
                {% for fkey in fkeys %}
                    {% if fkey.3 ==  table.name %}
                        <a href="#{{ fkey.0 }}">{{ fkey.0 }}</a>&nbsp;
                    {% endif %}
                {% endfor %}
                <table class="table_view">
                    <thead>
                        <tr>
                            {% for column in table.columns %}
                                <td>
                                    {% if column.isPrimaryKey  == 'PRI' %}
                                       <b>{{ column.name }}</b> (Primary Key)<br>
                                    {% else %}
                                        <b>{{ column.name }}</b><br>                                
                                    {% endif %}
                                    {{ column.type }}<br>
                                    {% if not column.hasNullValues %}
                                        NOT NULL<br>
                                    {% else %}
                                        <br>                                
                                    {% endif %}                                
                                    {% if ":" in column.foreign_key_string %}
                                    <!-- 
                                        foreign_key_string: People:ID (table:column)
                                    -->
                                        {% for fkey in fkeys %}
                                            {% if fkey.0 ==  table.name and fkey.3 in column.foreign_key_string and fkey.4 in column.foreign_key_string %}
                                                <a href="#{{ fkey.3 }}">{{ column.foreign_key_string }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in table.values_10 %}
                        {% if not forloop.first %}
                            <tr>
                                {% for value in row %}
                                    {% if value != None %}
                                        <td>{{ value }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}

</form>

{% endblock %}

{% block extra_scripts %}
<script>



    // AJAX for deleting
    function delete_table(table_primary_key) {
        if (confirm('are you sure you want to remove this table?')==true){
            $.ajax({
                url : "rdb/delete_table/",  // the endpoint
                type : "DELETE",            // http method
                data : { tablepk : table_primary_key }, // data sent with the delete request
                success : function(json) {
                    // hide the table
                  $('#sql_table_'+table_primary_key).hide(); // hide the table on success
                  console.log("table deletion successful");
                },

                error : function(xhr,errmsg,err) {
                    // Show an error
                    $('#results').html("<div class='alert-box alert radius' data-alert>"+
                    "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        } else {
            return false;
        }
    };

    // AJAX for new sql table
    function get_sql_table(sql_name, sql_query) {
        $.ajax({
            url : "rdb/get_sql_table",   // the endpoint
            type : "POST",               // http method
            data : { sql_name: sql_name, sql_query: sql_query }, // data sent with the sql-query request
            success : function(sql_table) {
              
              if (typeof sql_table['message'] == 'undefined') {
                  $('#results').html(""); // remove data from the dom
                  var model = get_db_model();
                  model['tables'].push(sql_table);
                  $("#id_hidden_model").val(JSON.stringify(model));

                  var root_div = document.getElementById('data_tables');
                  var div_ = jQuery('<div/>', {} ).attr({
                       id: "sql_table___" + sql_table.name + "___"
                  });
                    
                  var span_ = jQuery('<span/>', {  });
                    
                  var b0 = jQuery('<b/>', {  });
                  b0.text("table " + sql_table.name + " ");
                  b0.appendTo(span_);

                  var a_ = jQuery('<a/>', {  });
                  a_.text("delete me");
                  a_.appendTo(span_);

                  span_.appendTo(div_);
                    

                  var table = jQuery('<table/>', { class: "table_view" });
                  var thead = jQuery('<thead/>', {  });
                  var tr = jQuery('<tr/>', {  });
                    
                  for (var i = 0; i < $(sql_table['columns']).length; i++) {
                      var column = $(sql_table['columns'])[i];
                      var td = jQuery('<td/>', {  });
                      var b = jQuery('<b/>', {  });
                      b.text(column.name)
                      b.appendTo(td);
                      var br = jQuery('<br/>', {  });
                      br.appendTo(td);
                      var ii = jQuery('<i/>', {  });
                      ii.text(column.type)
                      ii.appendTo(td);
                      td.appendTo(tr);
                  }
                  tr.appendTo(thead);

                  var tbody = jQuery('<tbody/>', {  });
                  for (var i = 1; i < $(sql_table['values_10']).length; i++) {
                      var tr2 = jQuery('<tr/>', {  });
                      var row = $(sql_table['values_10'])[i];
                      for (var j = 0; j < $(row).length; j++) {
                          var td2 = jQuery('<td/>', {  });
                          td2.text(row[j]);
                          td2.appendTo(tr2);
                      }
                      tr2.appendTo(tbody);
                  }
                  thead.appendTo(table);
                  tbody.appendTo(table);
                  table.appendTo(div_);
                  div_.appendTo(root_div);
                    
                  
                  $("div[id^='sql_table___']").each(function() {
                      $(this).find("a").last().on("click", function(event) {
                          var tablepk = $(this).parent().parent().attr("id");
                          event.preventDefault();
                          $(this).parent().parent().hide(); // hide the table on success
  //                      delete_table(tablepk);
                          var tablepk_arr = tablepk.split("___");

                          var sql_table = $.grep(model['tables'], function (element, index) {
                              return element.name == tablepk_arr[tablepk_arr.length-2];
                          });
                          sql_table = sql_table[0];
                          var aList = model['tables'];
                          var index = aList.indexOf(sql_table);
                          if (index > -1) {
                              aList.splice(index, 1);
                          }
                          model['tables'] = aList;
                          $("#id_hidden_model").val(JSON.stringify(model));
                      });
                  });

              } else {
                // Show an error
                $('#results').html("<div class='alert-box alert radius' data-alert>" +
                sql_table['message']+"</div>"); // add error to the dom
              }
            },

            error : function(xhr, errmsg, err) {
                // Show an error
                $('#results').html("<div class='alert-box alert radius' data-alert>" +
                xhr.responseText+"</div>"); // add error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };


$(document).ready(function () {
    
    var model = get_db_model();
    var query_button = document.getElementById('id_button_query');
    var success_widget = document.getElementById('success');
    var next_button = document.getElementById('button_next');
    var back_button = document.getElementById('button_back');
    var form = document.getElementById('main_form');
   
    next_button.disabled = false;
    back_button.disabled = false;

    query_button.onclick = function () {
        var name = $(document.getElementById('id_sql_name')).val();
        var query = $(document.getElementById('id_sql_query')).val();
        get_sql_table(name, query);
//        event.preventDefault();
        return false;
    }

    back_button.onclick = function () {
        form.action = '1';
        form.submit();
    };

    next_button.onclick = function () {
        form.action = '3';
        form.submit();
    };

    $("#button_back").on("click", function () {
        var form = $("#main_form");
        form.attr("action", "1");
        form.submit();
    });

    $("#save_mapping").on("click", function () {
        console.log('$("#save_mapping").on("click", function ()');
        var current_page = 2;
        rdb_save_mapping(current_page);
        return false;
    });


    $("div[id^='sql_table___']").each(function() {
        $(this).find("a").first().on("click", function(event) {
            var tablepk = $(this).parent().parent().attr("id");
            event.preventDefault();
            $(this).parent().parent().hide(); // hide the table on success
            var tablepk_arr = tablepk.split("___");
            var sql_table = $.grep(model['tables'], function (element, index) {
                return element.name == tablepk_arr[tablepk_arr.length-2];
            });
            sql_table = sql_table[0];
            var aList = model['tables'];
            var index = aList.indexOf(sql_table);
            if (index > -1) {
                aList.splice(index, 1);
            }
            model['tables'] = aList;
            $("#id_hidden_model").val(JSON.stringify(model));
            
        });
    });
});

    </script>
{% endblock %}
