{% extends "transformation-base.html" %}

{% block content %}

{% load modelview_tags %}

    {% include "transformation/snippets/title_snippet.html" with format='RDB' %}

    <!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

<input type="hidden" name="hidden_fkeys" id="id_hidden_fkeys" value="{{ fkeys }}">
<input type="hidden" name="hidden_model" id="id_hidden_model" value="{{ model }}">
<input type="hidden" name="hidden_source" id="hidden_source" value="8">

<div class="content grid no-minimize">
    <h3>Publish</h3>
    <div class="col-5-10 left-side-box">
        <p>In this last step, you can either store your freshly forged RDF data in the LinDA Workbench data sources or download an RDF dump of it.</p>
    </div>

    <div class="col-5-10 right-side-box">
        <p>Please enter a name for your publication:<br><input type="text" name="name_publish" id="name_publish" value="{{ model.database }}" size="35"></p>
        <p><input type="submit" name="button_publish" id="button_publish" value="Publish to triple store"></p>
        <p><input type="submit" name="button_download" id="button_download" value="Download RDF"></p>
        <p><input type="submit" name="button_r2rml" id="button_r2rml" value="Download R2RML"></p>
        <p><input type="submit" name="button_restart" id="button_restart" value="Restart"></p>
        {% if user and not user.is_anonymous %}
            <p>Please enter a name for your transformation:<br><input type="text" name="name_mapping" id="name_mapping" size="35"></p>
            <p><input type="submit" name="save_mapping" id="save_mapping" value="Save Transformation"></p>
        {% endif %}
        </div>

    </div>


<div class="content" id="rdf_view">
    <h3 style="display: inline">RDF VIEW</h3><span>(complete data)</span>
</div>

</form>



{% endblock %}

{% block extra_scripts %}

<script>



{% if publish_message %}
    alert("{{ publish_message }}");
{% endif %}

function get_fkeys() {
    var fkeys = $("#id_hidden_fkeys");
    if(fkeys.length > 0) {
       return JSON.parse(fkeys.val().replace(/'/g,"\"") );
    } else {
        return false;
    }
}


function update_relTable( table ) {
    model = get_db_model();
    var fkeys = get_fkeys();

    var rel_table_values_10 = table['values_10'];
    var values_col_names = rel_table_values_10[0];
    var val_1_col_name = values_col_names[0];
    var val_2_col_name = values_col_names[1];
    
    var val_1_column = $.grep(table['columns'], function (element, index) {
        return element.name == val_1_col_name;
    });
    val_1_column = val_1_column[0];
    
    var val_2_column = $.grep(table['columns'], function (element, index) {
        return element.name == val_2_col_name;
    });
    val_2_column = val_2_column[0];
    
    var val_1_column_foreign_key_string_list = val_1_column.foreign_key_string.split(":");
    var val_1_target_table_name = val_1_column_foreign_key_string_list[0];
    var val_1_target_column_name = val_1_column_foreign_key_string_list[1];
    
    var val_2_column_foreign_key_string_list = val_2_column.foreign_key_string.split(":");
    var val_2_target_table_name = val_2_column_foreign_key_string_list[0];
    var val_2_target_column_name = val_2_column_foreign_key_string_list[1];

    var val_1_target_table = $.grep(model['tables'], function (element, index) {
        return element.name == val_1_target_table_name;
    });
    val_1_target_table = val_1_target_table[0];

    var val_2_target_table = $.grep(model['tables'], function (element, index) {
        return element.name == val_2_target_table_name;
    });
    val_2_target_table = val_2_target_table[0];

    for(var i = 1; i < rel_table_values_10.length; i++) {
        var values = rel_table_values_10[i];

        var val_1 = values[0];
        var val_2 = values[1];

        var target_table_1_base_iri = val_1_target_table['base_iri'];
        var target_table_2_base_iri = val_2_target_table['base_iri'];
        
        var target_table_1_subject_uri = val_1_target_table['subject_uri'];
        var target_table_2_subject_uri = val_2_target_table['subject_uri'];

        var pk_list_1 = [];
        var pk_list_c_1 = [];
        var pk_list_2 = [];
        var pk_list_c_2 = [];

        if (target_table_1_subject_uri.length > 0 ) {
            while (target_table_1_subject_uri.length > 0) {
                var pk_index = target_table_1_subject_uri.search(/{.*?}/);
                if (pk_index > -1) {
                    var pk = target_table_1_subject_uri.match(/{.*?}/)[0];
                    pk_list_c_1.push(pk);
                    pk = pk.substring(1, pk.length-1);
                    pk_list_1.push(pk);
                    var substr_start = pk_index + pk.length + 2;
                    var substr_length = target_table_1_subject_uri.length - substr_start;
                    target_table_1_subject_uri = target_table_1_subject_uri.substr(substr_start , substr_length);
                }
            }
        }
        var row = 1;
        target_table_1_subject_uri = val_1_target_table['subject_uri'];
        for(var j = 1; j < val_1_target_table['values_10'].length; j++) {
            var val_1_target_table_values = val_1_target_table['values_10'][j];
            for (var k = 0; k<val_1_target_table_values.length; k++) {
                if ( val_1 == val_1_target_table_values[k]) {
                    row = j;
                }
            }
        }

        for (var ii = 0; ii < pk_list_1.length; ii++) {
            for (var jj = 0; jj < val_1_target_table['columns'].length; jj++) {
                if (pk_list_1[ii] == val_1_target_table['columns'][jj].name) {
                    if (val_1_target_table['values_10'][row][jj] != "undefined" && val_1_target_table['values_10'][row][jj] != "" ) {
                        target_table_1_subject_uri = target_table_1_subject_uri.replace(pk_list_c_1[ii], val_1_target_table['values_10'][row][jj]);
                    }
                }
            }
        }

        var new_val_1 = "";
        if (target_table_1_base_iri.length > 0) {
            new_val_1 = "<" + encodeURI(target_table_1_base_iri + target_table_1_subject_uri) + ">";
        } else {
            new_val_1 = "_" + val_1_target_table_name + ":" + target_table_1_subject_uri;
        }
        
        if (target_table_2_subject_uri.length > 0 ) {
            while (target_table_2_subject_uri.length > 0) {
                var pk_index = target_table_2_subject_uri.search(/{.*?}/);
                if (pk_index > -1) {
                    var pk = target_table_2_subject_uri.match(/{.*?}/)[0];
                    pk_list_c_2.push(pk);
                    pk = pk.substring(1, pk.length-1);
                    pk_list_2.push(pk);
                    var substr_start = pk_index + pk.length + 2;
                    var substr_length = target_table_2_subject_uri.length - substr_start;
                    target_table_2_subject_uri = target_table_2_subject_uri.substr(substr_start , substr_length);
                }
            }
        }

        var row2 = 1;
        for(var j = 1; j < val_2_target_table['values_10'].length; j++) {
            var val_2_target_table_values = val_2_target_table['values_10'][j];
            for (var k = 0; k < val_2_target_table_values.length; k++) {
                if ( val_2 == val_2_target_table_values[k]) {
                    row2 = j;
                }
            }
        }

        target_table_2_subject_uri = val_2_target_table['subject_uri'];
        for (var ii = 0; ii < pk_list_2.length; ii++) {
            for (var jj = 0; jj < val_2_target_table['columns'].length; jj++) {
                if (pk_list_2[ii] == val_2_target_table['columns'][jj].name) {
                    if (val_2_target_table['values_10'][row2][jj] != "undefined" && val_2_target_table['values_10'][row2][jj] != "" ) {
                        target_table_2_subject_uri = target_table_2_subject_uri.replace(pk_list_c_2[ii], val_2_target_table['values_10'][row2][jj]);
                    }
                }
            }
        }

        var new_val_2 = "";
        if (target_table_2_base_iri.length > 0) {
            new_val_2 = "<" + encodeURI(target_table_2_base_iri + target_table_2_subject_uri) + ">";
        } else {
            new_val_2 = "_" + val_2_target_table_name + ":" + target_table_2_subject_uri;
        }
        $("td[id^='id_rdf_subject___"+ table.name +"___"+ val_1_col_name + "___" + i.toString() + "']").text(new_val_2);
        $("td[id^='id_rdf_subject___"+ table.name +"___"+ val_2_col_name + "___" + i.toString() + "']").text(new_val_1);
        
    }
}
/*
function update_relTable( table ) {
    model = get_db_model();
    var fkeys = get_fkeys();

    var rel_table_values_10 = table['values_10'];
    var values_col_names = rel_table_values_10[0];
    var val_1_col_name = values_col_names[0];
    var val_2_col_name = values_col_names[1];
    
    var val_1_column = $.grep(table['columns'], function (element, index) {
        return element.name == val_1_col_name;
    });
    val_1_column = val_1_column[0];
    
    var val_2_column = $.grep(table['columns'], function (element, index) {
        return element.name == val_2_col_name;
    });
    val_2_column = val_2_column[0];
    
    var val_1_column_foreign_key_string_list = val_1_column.foreign_key_string.split(":");
    var val_1_target_table_name = val_1_column_foreign_key_string_list[0];
    var val_1_target_column_name = val_1_column_foreign_key_string_list[1];
    
    var val_2_column_foreign_key_string_list = val_2_column.foreign_key_string.split(":");
    var val_2_target_table_name = val_2_column_foreign_key_string_list[0];
    var val_2_target_column_name = val_2_column_foreign_key_string_list[1];
    
    for(var i = 1; i < rel_table_values_10.length; i++) {
        var values = rel_table_values_10[i];
        
        var val_1 = values[0];
        var val_2 = values[1];
        
        var firstelem = true;
        $("td[id^='id_rdf_object___" + table.name + "___" + val_1_col_name + "']").each(function() {
            if ('"' + val_1 + '"' == $(this).attr("value") && $(this).attr("lang") != "fr" ) {
                if (firstelem) {
                    var target_subject_td = $(this).siblings("[id^='id_rdf_subject___']");
                    var new_val = "";
                    $("td[id^='id_rdf_object___" + val_2_target_table_name + "___" + val_2_target_column_name + "']").each(function() {
                        if ('"' + val_2 + '"' == $(this).text()) {
                            var target_subject_td2 = $(this).siblings("[id^='id_rdf_subject___']");
                            new_val = $(target_subject_td2).text();
                        }
                    });
                    if (new_val != "") {
                        $(target_subject_td).text(new_val);
                        $(this).attr("lang", "fr");
                        firstelem = false;
                    } else {

                        var val_2_target_table = $.grep(model['tables'], function (element, index) {
                            return element.name == val_2_target_table_name;
                        });
                        val_2_target_table = val_2_target_table[0];
                        
                        var val_2_target_table_values_10 = val_2_target_table['values_10'];
                        var val_2_target_table_col_names = val_2_target_table_values_10[0];
                        
                        var row = 0;
                        for(var j = 1; j < val_2_target_table_values_10.length; j++) {
                            var val_2_target_table_values = val_2_target_table_values_10[j];
                            for (var k = 0; k<val_2_target_table_values.length; k++) {
                                if ( val_2 == val_2_target_table_values[k]) {
                                    row = j;
                                }
                            }
                        }
                        
                        for (var j = 0; j<val_2_target_table_col_names.length; j++) {
                            $("td[id^='id_rdf_object___" + val_2_target_table_name + "___" + val_2_target_table_col_names[j] + "']").each(function() {
                                if ('"' + val_2_target_table_values_10[row][j] + '"' == $(this).text()) {
                                    var target_subject_td2 = $(this).siblings("[id^='id_rdf_subject___']");
                                    new_val = $(target_subject_td2).text();
                                    
                                    
                                    }
                            });
                            if (new_val != "") {
                                $(target_subject_td).text(new_val);
                                $(this).attr("lang", "fr");
                                firstelem = false;
                                break;
                            }
                        }
                    }
                }
            }
        });
        
        var firstelem = true;
        $("td[id^='id_rdf_object___" + table.name + "___" + val_2_col_name + "']").each(function() {
            if ('"' + val_2 + '"' == $(this).attr("value")  && $(this).attr("lang") != "fr" ) {
                if (firstelem) {
                    var target_subject_td = $(this).siblings("[id^='id_rdf_subject___']");
                    var new_val = "";
                    $("td[id^='id_rdf_object___" + val_1_target_table_name + "___" + val_1_target_column_name + "']").each(function() {
                        if ('"' + val_1 + '"'  == $(this).text()) {
                            var target_subject_td1 = $(this).siblings("[id^='id_rdf_subject___']");
                            new_val = $(target_subject_td1).text();
                        }
                    });
                    if (new_val != "") {
                        $(target_subject_td).text(new_val);
                        $(this).attr("lang", "fr");
                        firstelem = false;
                    } else {
                        var val_1_target_table = $.grep(model['tables'], function (element, index) {
                            return element.name == val_1_target_table_name;
                        });
                        val_1_target_table = val_1_target_table[0];
                        var columns = val_1_target_table['columns'];

                        var val_1_target_table_values_10 = val_1_target_table['values_10'];
                        var val_1_target_table_col_names = val_1_target_table_values_10[0];
                        
                        var row = 0;
                        for(var j = 1; j < val_1_target_table_values_10.length; j++) {
                            var val_1_target_table_values = val_1_target_table_values_10[j];
                            for (var k = 0; k<val_1_target_table_values.length; k++) {
                                if ( val_1 == val_1_target_table_values[k]) {
                                    row = j;
                                }
                            }
                        }
                        for (var j = 0; j<val_1_target_table_col_names.length; j++) {
                            new_val = "";
                            $("td[id^='id_rdf_object___" + val_1_target_table_name + "___" + val_1_target_table_col_names[j] + "']").each(function() {
                                if ('"' + val_1_target_table_values_10[row][j] + '"' == $(this).text()) {
                                    var target_subject_td1 = $(this).siblings("[id^='id_rdf_subject___']");
                                    new_val = $(target_subject_td1).text();
                                }
                            });
                            if (new_val != "") {
                                $(target_subject_td).text(new_val);
                                $(this).attr("lang", "fr");
                                firstelem = false;
                                break;
                            }
                        }
                    }
                }
            }
        });
    }
    
    // reset lang attr
    $("td[id^='id_rdf_object___" + table.name + "___" + val_1_col_name + "']").each(function() {
        $(this).attr("lang", "");
    });

    $("td[id^='id_rdf_object___" + table.name + "___" + val_2_col_name + "']").each(function() {
        $(this).attr("lang", "");
    });

}
*/

function model_to_table(model){
    
    var rdf_prefix = model['prefixes']; // var rdf_prefix = $("#id_hidden_rdf_prefix_field");    
    if (typeof rdf_prefix == "undefined") {
        rdf_prefix = [];
    }
    
    var tbl = jQuery('<table/>', {
        class: "rdf_table"
    });//.appendTo(elem);

    if(model == undefined){
        return tbl;
    }

    for (var t = 0; t < model['tables'].length; t++) {
        var table = model['tables'][t];
        var base_iri = model['tables'][t].base_iri;
        if (typeof base_iri == "undefined" || base_iri == "/") {
            base_iri = "";
        }
        var num_cols = table['columns'].length;
        var num_selected_cols = 0;
        var selected_cols_list = [];
        for(var i = 0; i < num_cols; i++) {
            if (table['columns'][i]['selected'] == "true") {
                num_selected_cols++;
                selected_cols_list.push(table['columns'][i].name);
            }
        }

        var subject_uri = table['subject_uri'];
        if (typeof subject_uri === "undefined") {
            subject_uri = "";
        }

        if (table.handle_relTable == "false") {
            var this_pk_list = [];
            var this_pk_list_c = [];
            
            while (subject_uri.length > 0) {
                var pk_index = subject_uri.search(/{.*?}/);
                if (pk_index > -1) {
                    var pk = subject_uri.match(/{.*?}/)[0];
                    this_pk_list_c.push(pk);
                    pk = pk.substring(1, pk.length-1);
                    this_pk_list.push(pk);
                    var substr_start = pk_index + pk.length + 2;
                    var substr_length = subject_uri.length - substr_start;
                    subject_uri = subject_uri.substr(substr_start , substr_length);
                }
            }
        }
        var values_10_selected = (table['values_10_selected'] === undefined) ? [] : table['values_10_selected'];
        var numrows = num_selected_cols * values_10_selected.length;
        var obj_array = [];
        for(var i = 1; i < values_10_selected.length; i++){
            for(var j = 0; j < num_selected_cols; j++){
                obj_array.push(values_10_selected[i][j]);
            }
        }

        var enrich_array = table['enrich'];
        var firstrun = true;
        for(var i = 0, j = 0, k = 1; i < obj_array.length; i++, j++) {
            subject_uri = table['subject_uri'];
            var isNull = false;
            if (j == num_selected_cols) {
                j = 0;
                k++;
                firstrun = true;
            }
            var selected_column = $.grep(table['columns'], function (element, index) {
                return element.name == selected_cols_list[j];
            });
            selected_column = selected_column[0];
            
            var rdf_predicate_list = selected_column['rdf_predicate'];
            if (typeof rdf_predicate_list == "undefined") {
                rdf_predicate_list = [];
                rdf_predicate_list.push("<?predicate?>");
            }
            if (typeof enrich_array != "undefined" && firstrun) {                
                for (var l=0; l < enrich_array.length; l++) {
                    var prefix = enrich_array[l].prefix;
                    var tr = jQuery('<tr/>', {} ).attr({
                        id: "id_rdf_subject_" + table.name + "_" + k.toString() + "_" + l.toString()
                    });
                    var td1 = jQuery('<td/>', {} );
                    if (table.handle_relTable == "false") {
                        var subject_str = base_iri;
                        
                        for (var ii = 0; ii < this_pk_list.length; ii++) {
                            for (var jj = 0; jj < num_selected_cols; jj++) {
                                if (this_pk_list[ii] == table['columns'][jj].name) {
                                    subject_uri = subject_uri.replace(this_pk_list_c[ii], table['values_10'][k][jj]);
                                }
                            }
                        }
                        if (base_iri.length > 0) {
                            subject_str = "<" + subject_str + subject_uri + ">";
                        } else {
                            subject_str = "_" + table.name + ":" + subject_uri;
                        }
                        
                        td1.text(subject_str).attr({
                            id: "id_rdf_subject___" + table.name + "___" + selected_cols_list[j] + "___" + k.toString() + "_" + l.toString()
                        });
                    } else {
                        td1.text("<?subject?>").attr({
                            id: "id_rdf_subject___" + table.name + "___" + selected_cols_list[j] + "___" +  k.toString() + "_" + l.toString()
                        });
                    }                        
                    td1.appendTo(tr);
                    
                    var td2 = jQuery('<td/>', {} ).attr({
                        id: "id_rdf_predicate_" + table.name + "_" + selected_cols_list[j] + "_" + k.toString() + "_" + l.toString()
                    });
                    td2.text("rdf:type");
                    td2.appendTo(tr);
                    
                    var td3 = jQuery('<td/>', {} ).attr({
                        id: "id_rdf_object___" + table.name + "___" + selected_cols_list[j] + "_" + k.toString() + "_" + l.toString()
                    });
                    if (prefix.prefix != "") {
                        td3.text(prefix.prefix + ":" + prefix.suffix);
                    } else {
                        td3.text(prefix.url);
                    }
                    td3.appendTo(tr);

                    var td4 = jQuery('<td/>', {});
                    td4.text(".");
                    td4.appendTo(tr);
                    tr.appendTo(tbl);
                }
            }
            firstrun = false;

            for (var pl = 0; pl < rdf_predicate_list.length; pl++) {
                var rdf_predicate = rdf_predicate_list[pl];
//                console.log("  rdf_predicate: " +rdf_predicate);

                var tr = jQuery('<tr/>', {} ).attr({
                    id: "id_rdf_subject_" + table.name + "_" + k.toString()
                });
                var td1 = jQuery('<td/>', {} );
                if (table.handle_relTable == "false") {
                    var subject_str = base_iri;
                    
                    for (var ii = 0; ii < this_pk_list.length; ii++) {
                        for (var jj = 0; jj < num_selected_cols; jj++) {
                            if (this_pk_list[ii] == table['columns'][jj].name) {
                                subject_uri = subject_uri.replace(this_pk_list_c[ii], table['values_10'][k][jj]);
                            }
                        }
                    }
                    if (base_iri.length > 0) {
                        subject_str = subject_str + subject_uri;
                        subject_str = "<" + encodeURI(subject_str) + ">";
                    } else {
                        subject_str = "_" + table.name + ":" + subject_uri;
                        subject_str = encodeURI(subject_str);
                    }
                    td1.text(subject_str).attr({
                        id: "id_rdf_subject___" + table.name + "___" + selected_column.name + "___" + k.toString()
                    });
                } else {
                    td1.text("<?subject?>").attr({
                        id: "id_rdf_subject___" + table.name + "___" + selected_column.name + "___" +  k.toString()
                    });
                }
                    
                td1.appendTo(tr);
                
                var td2 = jQuery('<td/>', {} ).attr({
                    id: "id_rdf_predicate___" + table.name + "___" + selected_column.name + "_" + k.toString()
                });

                td2.text(rdf_predicate);
                td2.appendTo(tr);
                var td3 = jQuery('<td/>', {} ).attr({
                    id: "id_rdf_object___" + table.name + "___" + selected_column.name + "_" + k.toString()
                });
                if (obj_array[i] == 'None' || obj_array[i] == "" ) {
    //                tr.css("visibility", "hidden");
                    isNull = true;
                }
                // data type
                if (typeof selected_column.data_type != 'undefined' && selected_column.data_type != "" ) {
                    var new_pre = true;
                    for (var ii = 0; ii < rdf_prefix.length; ii++) {
                        pre = rdf_prefix[ii];
                        if (pre['prefix'] == selected_column.data_type['prefix']) {
                            new_pre = false;
                        }
                    }
                    if (new_pre) {
                        new_pre = {'prefix': selected_column.data_type['prefix'], 'url':selected_column.data_type['url']};
                        rdf_prefix.push(new_pre);
    //                    $("#id_hidden_rdf_prefix_field").val(JSON.stringify(rdf_prefix));
                        
                    }
                    td3.text("\"" + obj_array[i] + "\"" + "^^" + selected_column.data_type['prefix'] + ":" + selected_column.data_type['suffix'] );
                } else {
                    // reconciliation
                    var recon = get_model_reconciliation(table.name, selected_cols_list[j], obj_array[i]);
                    if (recon) {
                        td3.text(recon['prefix'] + ":" + recon['suffix']);
                    } else {
                        td3.text("\"" + obj_array[i] + "\"");
                    }
                }
                td3.appendTo(tr);
                var td4 = jQuery('<td/>', {});
                td4.text(".");
                td4.appendTo(tr);
                if (! isNull)
                    tr.appendTo(tbl);
            }
        }
    }
    for (var i = 0; i < rdf_prefix.length; i++) {
        pre = rdf_prefix[i];
        var tr = jQuery('<tr/>', {} ).attr({id: pre['prefix'] });
        var td1 = jQuery('<td/>', {} );
        td1.text("@prefix");
        td1.appendTo(tr);
        var td2 = jQuery('<td/>', {} );
        td2.text(pre['prefix'] + ":");
        td2.appendTo(tr);
        var td3 = jQuery('<td/>', {} );
        td3.text("<" + pre['url'] + ">");
        td3.appendTo(tr);
        var td4 = jQuery('<td/>', {} );
        td4.text(".");
        td4.appendTo(tr);
        tr.prependTo(tbl);
    }
    return tbl;
}


function get_model_reconciliation(table_name, col_orig, content_str){
    var model = get_db_model();
    var table = $.grep(model['tables'], function (element, index) {
        return element.name == table_name;
    });
    table = table[0];
    
    var column = $.grep(table['columns'], function (element, index) {
        return element.name == col_orig;
    });
    column = column[0];
    if ( typeof column['object_recons'] == "undefined" || !column['object_recons'] || !column['object_recons'][content_str]) {
        return false;
    } else {
        return column['object_recons'][content_str];
    }
}


function model_to_table2(model) {
    var num_tables = model['tables'].length;
    for(var t = 0; t < num_tables; t++) {
        var table = model['tables'][t];
        var num_columns = table['columns'].length;
        for(var j = 0; j < num_columns; j++) {
            var column = table['columns'][j];
            if (column.foreign_key_string.length > 0 ) {
                var t_table  = column.foreign_key_string.split(":")[0];
                var t_column = column.foreign_key_string.split(":")[1];                    
                var source_td = $("td[id^='id_rdf_object___" + table.name + "___" + column.name + "']");
                for (var k = 0; k < source_td.length; k++) {
                    var old_val = $(source_td[k]).text();
                    if (typeof $(source_td[k]).attr("value") != "undefined") {
                        old_val = $(source_td[k]).attr("value");
                    }
                    var target_td = $("td[id^='id_rdf_subject___" + t_table + "_']");
                    for (var l = 0; l < target_td.length; l++) {
                        var td_text =  new String($(target_td[l]).text());
                        if ( td_text.search(old_val) > -1 ) {
                            var t_val =  $(target_td[l]).text();
                        }
                    }
                    var targetTable = $.grep(model['tables'], function (element, index) {
                        return element.name == t_table;
                    });
                    targetTable = targetTable[0];
                    
                    var targetColumn = $.grep(targetTable['columns'], function (element, index) {
                        return element.name == t_column;
                    });
                    if (targetColumn[0].isPrimaryKey ==  "PRI" ) {
                        if ( targetTable['base_iri'].length > 0 ) {
                            new_val = "<" + targetTable['base_iri'] + targetTable['subject_uri'] + ">";
                            new_val = new_val.replace("{" + t_column + "}", old_val);
                            new_val = new_val.replace(/\"/g, '');
                            $(source_td[k]).text(new_val);
                            $(source_td[k]).attr("value", old_val);                                        
                        } else {
                            new_val = "_:" + targetTable['subject_uri'];
                            new_val = new_val.replace("{" + t_column + "}", old_val);
                            new_val = new_val.replace(/\"/g, '');
                            $(source_td[k]).text(new_val);
                            $(source_td[k]).attr("value", old_val);                                        
                        }
                    }
                }
            }
        }
        if (table.handle_relTable == "true") {
            update_relTable(table);
        }
    }
}


function adapt_RDF_preview() {
    var rdf_table = $("#id_rdf_table");
    var rdf_view = $("#rdf_view");
    model = get_db_model();
    var rdf_tbl = model_to_table(model);
    rdf_view.find("table").remove();
    rdf_view.append(rdf_tbl);
    model_to_table2(model);
}


$( document ).ready(function() {

    $("#button_back").on("click", function () {
        var form = $("#main_form");
        form.attr("action", "7");
        form.submit();
    });

    $("#save_mapping").on("click", function () {
        console.log('$("#save_mapping").on("click", function ()');
        var current_page = 8;
        rdb_save_mapping(current_page);
        return false;
    });

    $("#button_next").css("visibility","hidden");

    adapt_RDF_preview();
});

</script>
{% endblock %}
